# Core PyTorch stack
torch
torchvision
torchaudio

# Experiment tracking
wandb

# Common ML stack
numpy
scipy
pandas
matplotlib
tqdm
scikit-learn
jupyter
ipykernel

# Vizualisation
plotly
wandb
typing_extensions>=4.8.0